__pycache__
servers/__pycache__
servers/__pycache__/*
.ipynb_checkpoints
.vscode
steering/data/*
steering/logs
steering/_model_notes.md
angle_data
sign_detection/data/*
captured_images

!steering/data/README.md